node_modules/
build/
target/
.env
.DS_Store

# IDEs
.idea/
.vscode/

# Desktop Build Artifacts
desktop/jre-cache/
desktop/javafx-sdk/
desktop/ShivamFootwear/
desktop/ShivamFootwear-App/
desktop/app-image-build/
desktop/*.zip
